body {
  font-family: "Dosis", sans-serif; }

/* Home Page Style */
.ww-home-page {
  background: url("../images/main.jpg") no-repeat center center;
  background-size: cover;
  background-position: 70%;
  height: 100vh;
  min-height: 480px;
  max-height: 1080px; }
  .ww-home-page .ww-wedding-announcement {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    letter-spacing: 2px; }
    .ww-home-page .ww-wedding-announcement .ww-announcement-container {
      max-width: 600px;
      text-align: center;
      margin-left: 0;
      z-index: 999; }
    .ww-home-page .ww-wedding-announcement img {
      max-height: 350px;
      width: auto; }
      @media (max-width: 480px) {
        .ww-home-page .ww-wedding-announcement img {
          max-height: 250px;
          width: auto; } }
    .ww-home-page .ww-wedding-announcement .ww-couple-name {
      font-size: 70px; }
      @media (max-width: 576px) {
        .ww-home-page .ww-wedding-announcement .ww-couple-name {
          font-size: 50px; } }

.ww-home-page:before {
  content: "";
  background-color: #0c230664;
  width: 100%;
  height: 100%;
  height: 100vh;
  min-height: 480px;
  max-height: 1080px;
  position: absolute;
  left: 0;
  top: 0; }

/* Nav Bar Style */
.ww-nav-bar .heart {
  fill: #f26147;
  position: relative;
  top: 2px;
  width: 40px;
  -webkit-animation: pulse 1s ease infinite;
          animation: pulse 1s ease infinite; }

@-webkit-keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.3); }
  100% {
    transform: scale(1); } }

.ww-nav-bar .nav-item {
  font-size: 18px;
  padding: 5px 0 5px 16px;
  font-weight: 500; }

/* Wedding Event Style */
.ww-wedding-event ul {
  list-style: none;
  padding-left: 0; }

/* Couple Friends Style  */
.ww-couple-friends .carousel {
  padding: 40px 0; }

.ww-couple-friends .carousel-indicators {
  bottom: 0px; }
  .ww-couple-friends .carousel-indicators li {
    background-color: #6c757d; }
  .ww-couple-friends .carousel-indicators .active {
    background-color: #551113; }

/* Photo Gallery Style */
.ww-photo-gallery .ww-category-filter a {
  display: inline-block;
  margin: 0 10px 6px 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px; }

.ww-photo-gallery .ww-gallery {
  min-height: 500px; }

.ww-photo-gallery .card-columns .card {
  border: none;
  margin-bottom: 15px;
  border-radius: none; }

@media (max-width: 992px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 2;
         column-count: 2; } }

@media (max-width: 576px) {
  .ww-photo-gallery .card-columns {
    -moz-column-count: 1;
         column-count: 1; } }

/* RSVP Style */
.ww-rsvp-detail {
  /* background: url("../images/rsvp-img.jpg") no-repeat center center; */
  background-size: cover;
  background-color: #551113;
  min-height: 500px;
  position: relative; }
  .ww-rsvp-detail .ww-rsvp-form {
    padding-left: 20%; }
    @media (max-width: 768px) {
      .ww-rsvp-detail .ww-rsvp-form {
        padding-left: 10%; } }
    @media (max-width: 576px) {
      .ww-rsvp-detail .ww-rsvp-form {
        padding-left: 0%; } }
    .ww-rsvp-detail .ww-rsvp-form .form-control {
      background-color: rgba(222, 222, 222, 0.2);
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.6); }
    .ww-rsvp-detail .ww-rsvp-form .form-control::-moz-placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form .form-control:-ms-input-placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form .form-control::placeholder {
      color: #dedede; }
    .ww-rsvp-detail .ww-rsvp-form select.form-control option {
      background: rgba(0, 0, 0, 0.3);
      color: #fff; }
    .ww-rsvp-detail .ww-rsvp-form .btn-submit {
      background-color: #797779;
      padding: 0.45rem 1.5rem;
      border: 0; }
    .ww-rsvp-detail .ww-rsvp-form .btn-submit:focus {
      background-color: #a5a4a5;
      padding: 0.45rem 1.5rem;
      border: 0; }

.ww-rsvp-detail:before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

/* Footer Style */
.ww-footer a.credit {
  color: inherit;
  border-bottom: 1px dashed;
  text-decoration: none;
  cursor: pointer; }

/* Common Style */
.ww-title {
  font-family: "Great Vibes", cursive; 
}

.ww-section {
  padding: 100px 0; 
}

.btn-primary {
  color: #fff; 
  background-color: #551113;
  border-color: #551113;}
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #551113;
    border-color: #551113;
    box-shadow: 0 0 0 0.2rem #997071; }


.btn-outline-primary:hover {
  color: #fff; }


.btn-outline-primary {
  color: #551113;
  border-color: #551113; }
  .btn-outline-primary:hover {
    color: #ffffff;
    background-color: #551113;
    border-color: #551113; }
  .btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #551113;
    background-color: transparent; }
  .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-primary.dropdown-toggle {
    color: #212529;
    background-color: #551113;
    border-color: #551113; }
    .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
    .show > .btn-outline-primary.dropdown-toggle:focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5); }


.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #997071;
}


      
.bg-light {
    background-color: #4c4a4c!important;
}

.text-muted {
    color: #bcbbbc!important;
}

.navbar-light .navbar-brand {
    color:#fff;
}

.bg-light {
  color: #fff;
}